*.pyc
tests/*
config/settings.ini
config/config.py
log/*
atlas/debug.py
data/ref/emprise_territoire.*
data/ref/L93*
static/territoire.json
static/images/ancien
static/conf/custom.js
static/ressources_petits_mams/*
static/ressources_petits_mams/Chalbos_micromam_entier2020.pdf
atlas/configuration/config.py
atlas/configuration/settings.ini
robots.txt
.htaccess
venv/*
venv3/*
venv_atlas
data/*a_rejouer.sql

data/ref/communes.shp
data/ref/communes.shx
data/ref/communes.dbf
data/ref/communes.prj


data/ref/communes.dbf
data/ref/communes.prj
data/ref/communes.shp
data/ref/communes.shx

data/ref/territoire.dbf
data/ref/territoire.prj
data/ref/territoire.shp
data/ref/territoire.shx

# Pycharm
.idea/

.vscode
