
<div class="panel-body">

            <div class="panel-group" id="accordion-bdd">
                    <div class="panel panel-default">
                    

                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/bdd_basic.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/ONM_Format_standard_2019.pdf') }}">
                                        <h4 class="media-heading">Nomenclature ONM - Format standard</h4>
                                    </a>
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/bdd.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Code_habitats_Chiropteres.pdf') }}">
                                        <h4 class="media-heading">Nomenclature ONM - Code habitats Chiropteres</h4>
                                    </a>
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Code_habitats_Chiropteres.csv') }}">version .csv</a>
                                </div>
                            </div>
                            
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/bdd.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Identification_des_taxons_Chiropteres.pdf') }}">
                                        <h4 class="media-heading">Nomenclature ONM - Identification des taxons Chiropteres</h4>
                                    </a>
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Identification_des_taxons_Chiropteres.csv') }}">version .csv</a>
                                </div>
                            </div>
                            
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/bdd.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Noms_du_taxon_Chiropteres.pdf') }}">
                                        <h4 class="media-heading">Nomenclature ONM - Noms du taxon Chiropteres</h4>
                                    </a>
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Noms_du_taxon_Chiropteres.csv') }}">version .csv</a>
                                </div>
                            </div>
                            
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/bdd.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Statuts_administratifs_Chiropteres.pdf') }}">
                                        <h4 class="media-heading">Nomenclature ONM - Statuts administratifs Chiropteres</h4>
                                    </a>
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Statuts_administratifs_Chiropteres.csv') }}">version .csv</a>
                                </div>
                            </div>
                            
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/bdd.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Statuts_legaux_Chiropteres.pdf') }}">
                                        <h4 class="media-heading">Nomenclature ONM - Statuts legaux Chiropteres</h4>
                                    </a>
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Statuts_legaux_Chiropteres.csv') }}">version .csv</a>
                                </div>
                            </div>
                            
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/bdd.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Statuts_moraux_Chiropteres.pdf') }}">
                                        <h4 class="media-heading">Nomenclature ONM - Statuts moraux Chiropteres</h4>
                                    </a>
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Nomenclature_ONM_Statuts_moraux_Chiropteres.csv') }}">version .csv</a>
                                </div>
                            </div>
                     
                </div>
        </div>
            

</div>
