
<div class="panel-body">

    <div class="panel-group" id="accordion-petitsmams">
            <div class="panel panel-default">
            <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-petitsmams" href="#collapse0petitsmams">
                Rencontres Nationales Petits Mammifères 2021</a></h3></div>
                <div id="collapse0petitsmams" class="panel-collapse collapse">
                <div class="panel-body">

                        <div class="media">
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/01_GMB_etude_des_petits_mammiferes_menaces_de_Bretagne.pdf') }}">
                                    <div class="media-left media-middle">
                                        <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                    </div>
                                    <div class="media-body media-middle">
                                        <h4 class="media-heading">LE CAMPION, T., SIMMONET, F., 2021. Étude des petits mammifères menacés en Bretagne – présentation et premiers résultats.</h4>
                                    </div>
                                </a>
                        </div>
            
                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/02_Chalbos_Etat_des_connaissances_sur_les_petits_mammiferes_en_Corse.pdf') }}">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">CHALBOS, M., 2021. État des connaissances sur les petits mammifères en Corse.</h4>
                                </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/05_ONF_Des_pistes_pour_une_meilleure_prise_en_compte_de_l_Ecureuil_roux.pdf') }}">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">LAGUET, S., 2021. Des pistes pour une meilleure prise en compte de l’Ecureuil roux (Sciurus vulgaris) dans la gestion forestière.</h4>
                                </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/06_SFEPM_Retour_sur_l_enquete_nationale_Crocidures.pdf') }}">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">LEBOULENGER, F., BAGHI, R., 2021. Retour sur l’enquête nationale Corcidures (Corcidura leucodon / Crocidura suaveolens).</h4>
                                </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/07_SFEPM_Muscardin.pdf') }}">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">SAVOURÉ-SOUBELET, A., 2021. Point d’information « La SFEPM et le Muscardin ».</h4>
                                </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/08_Table_ronde_mesurer_et_sexer_les_petits_Mammiferes_autorisation.pdf') }}">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">DUPUY, H., RUYS, T., DARINOT, F., 2021. Table ronde "Pourquoi et comment mesurer et sexer les petits Mammifères ? Recueil d'expériences pour le Guide pratique pour l'étude des petits Mammifères terrestres"</h4>
                                </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/09_GMA_Petits_mammiferes_dans_des_gites_a_chiropteres_en_Auvergne.pdf') }}">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">BERNARD, M., 2021. Petits mammifères dans des gîtes à Chiroptères en Auvergne -discussion, réflexions et points d’attention.</h4>
                                </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/10_GMB_Essai_d_evaluation_de_la_taille_d_une_population_de_Campagnol_amphibie.pdf') }}">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">SIMMONET, F., LE CAMPION, T., 2021. Essai d’évaluation de la taille d’une population de Campagnol amphibie par CMR.</h4>
                                </div>
                            </a>
                        </div>
                        
                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/11_SFEPM_Part_et_diversite_des_petits_mammiferes_dans_les_captures_de_chat_domestique.pdf') }}">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">DE LACOSTE, N., 2021. Part et diversité des petits mammifères dans les captures par le chat domestique – Programme « Chat domestique & Biodiversité ».</h4>
                                </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='ressources_petits_mams/12_Chevret_Structure_genetique_et_morphometrie_cranienne_chez_les_Arvicola.pdf') }}">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/petits_mams.svg') }}" alt="books">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">CHEVRET, P., RENAUD, S., 2021. Structure génétique et morphométrie crânienne chez les Arvicola.</h4>
                                </div>
                            </a>
                        </div>
                                    
                </div>
                </div>
            </div>
            </div>




</div>
