
<div class="panel-body">

            <div class="panel-group" id="accordion-chiro">
                    <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-chiro" href="#collapse0chiro">
                        Ressources nationales et européennes</a></h3></div>
                        <div id="collapse0chiro" class="panel-collapse collapse">
                        <div class="panel-body">
        
                                <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="http://www.plan-actions-chiropteres.fr/">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">Plan National d'Actions en faveur des Chiroptères</h4>
                                            </div>
                                        </a>
                                </div>
                    
                                <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="https://www.eurobats.org/">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">Eurobats</h4>
                                        </div>
                                    </a>
                                </div>
                    
                                <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://www.museum-bourges.net/chauve-souris-centre-de-documentation-46.html">
                                    <div class="media-left media-middle">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                                    </div>
                                    <div class="media-body media-middle">
                                    <h4 class="media-heading">Centre de documentation du Muséum de Bourges</h4>
                                    </div>
                                    </a>
                                </div>
                    
                                <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://www.ville-ge.ch/musinfo/bd/mhng/cco/accueil.php">
                                    <div class="media-left media-top">
                                    <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                                    </div>
                                    <div class="media-body media-middle">
                                    <h4 class="media-heading">Bibliothèque mondiale des chauves-souris, Muséum de Genève</h4>
                                    </div>
                                    </a>
                                </div>  
                                
                                
                                            
                        </div>
                        </div>
                    </div>
                    </div>


            <div class="panel-group" id="accordion-chiro">
            <div class="panel panel-default">
            <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-chiro" href="#collapse1chiro">
                Méthodes et bonnes pratiques</a></h3></div>
                <div id="collapse1chiro" class="panel-collapse collapse">
                <div class="panel-body">

                <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Charte_Bonne_conduite_Suivis_hivernaux_et_estivaux_Chiropteres.pdf') }}">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/suivi.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">SFEPM, 2014. Charte de bonne conduite pour les suivis hivernaux et estivaux de Chiroptères, 2p.</h4>
                        Cette charte a pour objectif de définir un cadre déontologique pour réaliser des suivis hivernaux et estivaux de chauves-souris, en dehors des opérations de capture. 
                        Elle s'adresse à toutes les personnes physiques ou morales qui participent aux opérations de suivis des populations de chauves-souris : l'hiver, dans les sites d'hibernation, 
                        ou l'été, via le dénombrement des individus en colonies de reproduction.
                        </div>
                        </a>
                    </div>


                    <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="http://www.plan-actions-chiropteres.fr/sites/default/files/fichiers/guide_methodologique_hierachisation_sites_proteges_et_a_proteger_a_cs_sfepm_2013.pdf">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/chauve_souris.svg') }}" alt="chauve-souris">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">PNAC2, 2013. Guide méthodologique de hiérarchisation des sites protégés et à protéger à Chiroptères, 15p.</h4>
                            Dans le cadre du 2ème Plan National d'Actions en faveur des Chiroptères (2009-2013), l'action n°3 prévoit l'actualisation de l'inventaire des gîtes protégés et à protéger pour les Chiroptères. 
                            Cette mise à jour de la liste de 2004 établie par la SFEPM doit permettre d'identifier de nouveaux gîtes en fonction de l'évolution des connaissances et d'assurer leur mise en protection. 
                            Pour ce faire, un groupe de travail composé d'experts chiroptérologues a proposé une réévaluation de la méthode de hiérarchisation des gîtes.
                        </div>
                            </a>
                        </div>

                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Charte_deontologie_capture_chiropteres_2018.pdf') }}">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/capture.svg') }}" alt="chauve-souris">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">MNHN, SFEPM, ONF, 2013. Charte déontologique liée à la capture (Annexe 29 du Bilan technique final du 2ème PNA Chiroptères 2009-2013), 2p.</h4>
                        La capture des chiroptères est une pratique à risque pour les chiroptères et les chiroptèrologues, elle nécessite une dérogation à l'interdiction de capture d'espèces protégées. 
                        Ainsi, il est fondamental que toute personne exerçant cette technique s'engage à respecter un certain nombre de points.
                    </div>
                        </a>
                    </div>

                    <div class="media">
                        <div class="media-left media-top"><img class="media-object" src="{{url_for('static', filename='custom/images/capture.svg') }}" alt="chauve-souris"></div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">Cahier technique pour l'identification des chiroptères en main et le relevé de données, MNHN 2018.</h4>
                        Contact : <a href="mailto:julie.marmet@mnhn.fr">julie.marmet@mnhn.fr</a>
                    </div>  
                    </div>


                    <div class="media">
                        
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/capture.svg') }}" alt="chauve-souris">
                        </div>
                        <div class="media-body media-middle">
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Carnet_formation_capture_manipulation_chiropteres_nonimprimable.pdf') }}">
                        <h4 class="media-heading">MNHN, Exemple de carnet de formation à la capture et à la manipulation des chiroptères – non imprimable</h4></a>
                        Contact : <a href="mailto:julie.marmet@mnhn.fr">julie.marmet@mnhn.fr</a>
                    </div>
                        
                    </div>

                    <div class="media">
                        
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/capture.svg') }}" alt="chauve-souris">
                        </div>
                        <div class="media-body media-middle">
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Guide_utilisation_carnet_formation_capture_chiropteres_v2.pdf') }}">
                                    <h4 class="media-heading">MNHN, 2018. Guide d'utilisation du carnet de formation à la capture et à la manipulation des chiroptères en France.</h4>
                                </a>
                        Contact : <a href="mailto:julie.marmet@mnhn.fr">julie.marmet@mnhn.fr</a>
                    </div>
                        
                    </div>
                            
                    <div class="media">
                        
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/capture.svg') }}" alt="chauve-souris">
                        </div>
                        <div class="media-body media-middle">
                                <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Fiche_terrain_capture_chiropteres_2018.xls') }}">
                        <h4 class="media-heading">MHNH, Fiche de relevé de données pour la capture de Chiroptères</h4></a>
                        Contact : <a href="mailto:julie.marmet@mnhn.fr">julie.marmet@mnhn.fr</a>
                    </div>
                        
                    </div>

                        <div class="media">
                                <div class="media-left media-top">
                                <img class="media-object" src="{{url_for('static', filename='custom/images/echo_location.svg') }}" alt="chauve-souris">
                                </div>
                                <div class="media-body media-middle">
                                <h4 class="media-heading">MNHN, Protocoles Vigie-Chiro point fixe, pédestre et routier.</h4>
                                Le suivi des chauves-souris communes, proposé dans le cadre de Vigie-Nature, repose sur un suivi des chauves-souris lors de leurs activités de chasse.
                                <div class="list-group">
                                        <a target="_blank" rel="noopener noreferrer" href="http://www.vigienature.fr/sites/vigienature/files/atoms/files/protocole_pointfixe140612.pdf"><button type="button" class="list-group-item">point fixe</button></a>
                                        <a target="_blank" rel="noopener noreferrer" href="http://www.vigienature.fr/sites/vigienature/files/atoms/files/protocole_pedestre.pdf"><button type="button" class="list-group-item">pédestre </button></a>
                                        <a target="_blank" rel="noopener noreferrer" href="http://www.vigienature.fr/sites/vigienature/files/atoms/files/protocole_routier.pdf"><button type="button" class="list-group-item">routier </button></a>
                                        </div>
                            </div>
                            </div>


                        <div class="media">
                            <a href="https://plan-actions-chiropteres.fr/sites/default/files/fichiers/catalogue_descriptif_des_etudes_par_radiopistage_sur_les_chiropteres_en_france-gcp_2017.pdf">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/telemetrie.svg') }}" alt="chauve-souris">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Groupe Chiroptères de Provence, Quekenborn D., 2017. Catalogue descriptif des études par radiopistage sur les Chiroptères en France métropolitaine. Premiers bilans. SFEPM, 25p.</h4>
                            Ce rapport comporte les méthodes de réalisation du recueil des opérations de radiopistages, 
                            les caractérisations de ce recueil au travers de quelques analyses descriptives et les perspectives de compléments et de pérennisation.
                        </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="https://docplayer.fr/27980487-Inventorier-etudier-ou-suivre-les-chauves-souris-en-foret-conseils-de-gestion-forestiere-pour-leur-prise-en-compte-synthese-des-connaissances.html">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/foret.svg') }}" alt="chauve-souris">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Tillon, L. 2008. Inventorier, étudier ou suivre les chauves-souris en forêt, Conseils de gestion forestière pour leur prise en compte. Synthèse des connaissances, ONF. 88p.</h4>
                            Ce document vise à aider les personnes ou structures qui seraient amenées à engager ou prévoir des actions de gestion, de l'aménagement au martelage, 
                            du simple inventaire à l'étude de fond, sur les espaces protégés (Natura 2000, RB, RN...) ou non, voire au suivi des chauves-souris en système forestier. 
                        </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="https://eolien-biodiversite.com/IMG/pdf/protocole_de_suivi_revision_2018.pdf">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/eolienne.svg') }}" alt="chauve-souris">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Protocole de suivi environnemental des parcs éoliens terrestres – révision 2018, 20p.</h4>
                            Ce   protocole   tient   compte   de   l'évolution   de   l'état des   connaissances   et   du   retour d'expérience tiré de la mise en application du précédent protocole, reconnu par décision du 23 novembre 2015. 
                            Il constitue une importante avancée pour identifier et réduire les impacts des parcs éoliens sur leur environnement.
                        </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/20160201_diagnostic_V2.1.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/eolienne.svg') }}" alt="chauve-souris">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Groupe Chiroptères de la SFEPM, 2016. Diagnostic chiroptérologique des projets éoliens terrestres. Actualisation 2016 des recommandations SFEPM, Version 2.1(février2016). Société Française pour l'Étude et la Protection des Mammifères, Paris, 33p + annexes.</h4>
                            L'objectif du présent document est de préciser comment les expertises chiroptérologiques doivent être menées au regard des connaissances actuelles, dans les diagnostics des études d'impact des projets éoliens.
                        </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/20160201_suivis_V2.1.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/eolienne.svg') }}" alt="chauve-souris">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Groupe Chiroptères de la SFEPM, 2016. Suivi des impacts des parcs éoliens terrestres sur les populations de Chiroptères, Version 2.1 (février 2016). Société Française pour l'Étude et la Protection des Mammifères, Paris, 17p.</h4>
                            L'objectif de ce document est de proposer un cadre méthodologique pour le suivi des impacts des parcs éoliens terrestres, afin que ces suivis puissent améliorer la connaissance générique des impacts de l'éolien sur les populations de chauves-souris et pour que les exploitants puissent mesurer réellement leurs impacts et ainsi, le cas échéant corriger leurs mesures de réduction mises en place pour réduire leurs impacts.
                        </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/chiroptere_document_cadrage_version_finale_signee.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/eolienne.svg') }}" alt="chauve-souris">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">SER-FEE, SFEPM, LPO, 2010. Protocole d'étude chiroptérologique sur les projets de parcs éoliens. Première étape : document de cadrage, 8p.</h4>
                            Préalablement à l'aménagement d'un parc éolien, une étude d'impact est obligatoirement menée sur l'environnement. Cette étude d'impact inclut une expertise chiroptérologique qui permet d'identifier les enjeux sur les populations de chauves-souris présentes et de déterminer la meilleure implantation pour le parc éolien. 
                            Après plusieurs années d'expériences, et conscientes de la nécessité de la préservation de la biodiversité, la SFEPM, la LPO et FEE, branche éolienne du SER, ont souhaité acter la mise en place d'un protocole d'étude commun pour la réalisation de ces expertises chiroptérologiques, dans le cadre de l'installation de parcs éoliens.
                        </div>
                            </a>
                        </div>
                                    
                </div>
                </div>
            </div>
            </div>


            <div class="panel-group" id="accordion-chiro">

                <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="media-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-chiro" href="#collapse5chiro">
                    Répartition et effectifs</a>
                </h3>
                </div>
                <div id="collapse5chiro" class="panel-collapse collapse">
                <div class="panel-body">
    
                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="http://www.plan-actions-chiropteres.fr/sites/default/files/fichiers/bilan_final_pna2_annexes.pdf">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/chauve_souris.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">Document de synthèse des gîtes protégés et à protéger, mise à jour 2014 (Annexe 6 du Bilan technique final 2ème PNA Chiroptères 2009-2013), 1p.</h4>
                        
                        </div>
                        </a>
                    </div>
                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Posters_Bourges_25 ans.pdf') }}">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/chauve_souris.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">Groupe Chiroptères de la SFEPM, 2016. Cartes de répartition métropolitaine des sites d'hibernation et de parturition d'espèces suivies, 7p.</h4>
                        
                        </div>
                        </a>
                    </div>
                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/poster_synt_eff_chiros_bourges_2014_maj_A3.pdf') }}">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/chauve_souris.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">Vincent S. (coordination), 2014. Poster sur les effectifs de Chiroptères par région biogéographique des espèces de l'annexe II de la directive Habitats Faune-Flore. Synthèse actualisée des populations en France – Bilan 2014. </h4>
                        
                        </div>
                        </a>
                    </div>                    
                    
                                    
                </div>
                </div>
            </div>
            </div>

            <div class="panel-group" id="accordion-chiro">

                <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="media-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-chiro" href="#collapse2chiro">
                    Tendances et indicateurs</a>
                </h3>
                </div>
                <div id="collapse2chiro" class="panel-collapse collapse">
                <div class="panel-body">
    
                <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.researchgate.net/profile/Yves_Bas/publication/324330170_Estimations_des_tendances_des_populations_de_Chiropteres_a_partir_des_suivis_de_gites_hivernaux/links/5acb16314585151e80a93b45/Estimations-des-tendances-des-populations-de-Chiropteres-a-partir-des-suivis-de-gites-hivernaux.pdf">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/tendances.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">Kerbiriou C., Bas Y., & Julien J. F., 2018. Estimations des tendances des populations de Chiroptères à partir des suivis de gîtes hivernaux, 10p.</h4>
                        Suite à une demande européenne de contribution à la construction d'un indicateur des tendances de populations de Chauves-souris à partir des comptages hivernaux, une réflexion a été menée en France depuis 2015, pour évaluer la faisabilité du réseau français à contribuer à cet indicateur européen. Les données analysées sur les vingt anciennes régions administratives françaises concernent 9 106 sites dont en moyenne sur la période 2000-2015, plus de 2 000 sites sont suivis annuellement. Il a été possible d'obtenir suffisamment de tendances locales pour permettre de produire des tendances locales puis nationales pour douze espèces.
                        </div>
                        </a>
                    </div>
                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="http://www.vigienature.fr/fr/resultatspublications-3356">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/tendances.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">Vigie-Chiro : résultats/tendances</h4>
                        
                        </div>
                        </a>
                    </div>    
                                    
                </div>
                </div>
            </div>
            </div>

            <div class="panel-group" id="accordion-chiro">

                <div class="panel panel-default">
                <div class="panel-heading">
                
                <h3 class="media-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-chiro" href="#collapse3chiro">
                    Actions sur les menaces</a>
                </h3>
                
                </div>
                <div id="collapse3chiro" class="panel-collapse collapse">
                <div class="panel-body">
    
                    <div class="media">
                        
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/routes.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">CEREMA, 2016. Chiroptères et infrastructures de transport, 172p.</h4>
                        Structuré de façon simple et pédagogique afin de constituer une base documentaire dans laquelle chacun puisse extraire l'information dont il a besoin, 
                        ce guide fait la synthèse d'un nombre important de retours d'expériences et cas concrets 
                        en s'appuyant notamment sur des études et références techniques et scientifiques francophones et anglo-saxonnes.
                        </div>
                        
                    </div>
                    <div class="media">
                        
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/batiment.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">CEREMA, 2018. Préservation des Chiroptères et isolation thermique des bâtiments. Etats des lieux des connaissances et premières pistes d'action, 46p.</h4>
                        Cette étude dresse un état des lieux sur la situation actuelle et propose des pistes d'actions à l'échelle nationale afin de faire progresser la connaissance et la prise en compte des chiroptères dans le cadre de la rénovation énergétique des bâtiments.
                        </div>
                        
                    </div>    
                    <div class="media">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/batiment.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading"> Hafa J. (coordination), SFEPM 2015. 
                            Recueil d'expériences des aménagements pour une meilleure 
                            cohabitation Chiroptères-Homme en milieu bâti, 82p.</h4>
                        Ce document, à destination de tout chiroptérologue, a pour objet de présenter des aménagements réalisés à travers 
                        la France dans le cas de problèmes de cohabitation Homme/chauves-souris de 2001 à 2015, 
                        fruits du travail sur le terrain des chiroptérologues.
                        (envoyer une demande à <a href="mailto:contact@sfepm.org">contact@sfepm.org</a>)
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/batiment.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading"> Arthur L., Chrétien A., (coordination), SFEPM 2019. 
                            Recueil d'expériences des aménagements pour une meilleure cohabitation 
                            Chiroptères-Homme en milieu bâti - Tome 2, 95p.</h4>
                            Ce tome complète le premier recueil en s'orientant vers les espèces non abordées, et pourtant bien présentes en milieu bâti : 
                            pipistrelles, noctules et oreillards. Des aménagements simples et peu coûteux, qui ont prouvé leur efficacité, 
                            étoffent les solutions plus recherchées. 
                            Ce travail a pour objectif de faire circuler les connaissances et expériences des chiroptérologues sur le terrain, 
                            et est destiné uniquement à ce réseau
                            (envoyer une demande à <a href="mailto:contact@sfepm.org">contact@sfepm.org</a>)
                        </div>
                    </div>

                    


                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/plaqarbres.pdf') }}">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/foret.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">Pénicaud P., 2000. Les chauves-souris et les arbres – connaissance et protection. SFEPM, 2p.</h4>
                        Sur les 30 espèces de ces mammifères volants recensées en France, la majorité est susceptible d'utiliser les cavités d'arbres pour s'abriter, mais aussi pour hiberner et se reproduire. Voici quelques éléments pour mieux les connaitre, et pour protéger sur le terrain les gîtes naturels de ces insectivores indispensables à l'équilibre écologique des milieux.
                        </div>
                        </a>
                    </div>                    
                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/plaqponts.pdf') }}">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/batiment.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">Arthur L., Lemaire M., Pénicaud P., 2002. Les chauves-souris hôtes des ponts – connaissance et protection. SFEPM, 2p.</h4>
                        La majorité des espèces de chauves-souris est susceptible de s'installer au sein des ponts, quels qu'en soient l'âge ou les matériaux : pierre, brique ou béton. Voici quelques éléments concrets pour conserver ces petits mammifères dans les ponts, ou pour développer de nouvelles capacités d'accueil au sein des futurs ouvrages.
                        </div>
                        </a>
                    </div>                    
                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/20160201_planification_V2.1.pdf') }}">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/eolienne.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">Groupe  Chiroptères  de  la  SFEPM,  2016. Prise en compte des Chiroptères dans la planification des projets éoliens, Version 2.1 (janvier 2016). Société Française pour l'Étude et la Protection des Mammifères, Paris, 11pages.</h4>
                        L'objet de ce document est, à la lumière des connaissances actuelles et notamment des lignes directrices EUROBATS (actualisation 2014), de synthétiser les recommandations nécessaires pour une prise en compte des chauves-souris dès l'étape de la planification de l'éolien.
                        </div>
                        </a>
                    </div>    
                </div>
                </div>
            </div>
            </div>

            <div class="panel-group" id="accordion-chiro">

                <div class="panel panel-default">
                <div class="panel-heading">
                        <h3 class="media-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-chiro" href="#collapse4chiro">Sensibilisation</a>
            </h3>
                </div>
                <div id="collapse4chiro" class="panel-collapse collapse">
                <div class="panel-body">
    
                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/plaquettegp.pdf') }}">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/sensibilisation.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">SFEPM. Les chauves-souris, des mammifères fascinants à protéger – plaquette.</h4>
                        
                        </div>
                        </a>
                    </div>
                    <div class="media">
                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/plaquetteBD.pdf') }}">
                        <div class="media-left media-top">
                        <img class="media-object" src="{{url_for('static', filename='custom/images/sensibilisation.svg') }}" alt="books">
                        </div>
                        <div class="media-body media-middle">
                        <h4 class="media-heading">SFEPM. Opération Refuge pour les chauves-souris : accueillir les chauves-souris dans les bâtiments et les jardins – plaquette.</h4>
                        
                        </div>
                        </a>
                    </div>    
                                    
                </div>
                </div>
            </div>
        </div>

                <div class="panel-group" id="accordion-chiro">

                    <div class="panel panel-default">
                    <div class="panel-heading">
                            <h3 class="media-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-chiro" href="#collapse44chiro">Life 2004-2008 - Conservation de trois Chiroptères cavernicoles dans le Sud de la France</a>
                </h3>
                    </div>
                    <div id="collapse44chiro" class="panel-collapse collapse">
                    <div class="panel-body">
        
                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Rapport_final_d_activite_du_programme_LIFE.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/life.svg') }}" alt="life">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Rapport final d'activité – Programme Life Nature « Conservation de trois Chiroptères cavernicoles dans le Sud de la France »</h4>
                            
                            </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Plan_de_conservation_apres_LIFE.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/life.svg') }}" alt="life">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Plan de conservation après-Life</h4>
                            
                            </div>
                            </a>
                        </div>

                        <div class="media">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/life.svg') }}" alt="life">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Comptes-rendus des Comités de pilotage :</h4>
                            
                            <div class="list-group">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/CR_Copil1_20041214.pdf') }}"><button type="button" class="list-group-item">Compte-rendu du 1er Comité de pilotage du 14 décembre 2004</button></a>
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/CR_Copil2_20051206.pdf') }}"><button type="button" class="list-group-item">Compte-rendu du 2nd Comité de pilotage du 06 décembre 2005</button></a>
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/CR_Copil3_20061213.pdf') }}"><button type="button" class="list-group-item">Compte-rendu du 3ème Comité de pilotage du 13 décembre 2006</button></a>
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/CR_Copil4_20071219.pdf') }}"><button type="button" class="list-group-item">Compte-rendu du 4ème Comité de pilotage du 19 décembre 2007</button></a>
                                    </div>
                        </div>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Guide_technique_Connaissance_et_conservation_des_gites_et_habitats_de_chasse_de_3_Chiropteres_cavernicoles.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Guide technique « Connaissance et conservation des gîtes et habitats de chasse de 3 Chiroptères cavernicoles »</h4>
                            
                            </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Actes_IV_Rencontres_Chiro_Grand_Sud.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Actes des 4èmes rencontres Chiroptères Grand Sud (18 et 19 mars 2005)</h4>
                            
                            </div>
                            </a>
                        </div>                        

                        
                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Catalogue_des_protections_physiques_LIFE.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Catalogue des protections physiques mises en place dans le cadre du programme LIFE</h4>
                            
                            </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Fiche_technique_lavogne_Collias.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Fiche technique Construction d'une lavogne sur la commune de Collias</h4>
                            
                            </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Plaquette_Les_chauves-souris_des_Gorges_de_l_Aveyron.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Plaquette Les chauves-souris des Gorges de l'Aveyron</h4>
                            
                            </div>
                            </a>
                        </div>



                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Plaquette_Les_chauves-souris_des_Gorges_du_Gardon.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Plaquette Les chauves-souris des Gorges du Gardon</h4>
                            
                            </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Quekenborn_2007_Myocap_Verdon.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Quekenborn D., Deblois S. & Bouquier L., 2007. Rapport d'étude des territoires de chasse du Murin de Capaccini (Myotis capaccinii) 
                                en période de gestation dans le Verdon. Groupe Chiroptères de Provence, Esparron-de-Verdon, 41p.</h4>
                            
                            </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Le_Moalt_2007_Rhieur_Aldudes.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Le Moalt T., 2007. Le Rhinolophe euryale (Rhinolophus euryale) en vallée des Aldudes, site de Petexaenea (PSIC : Montagne des Aldudes – FR7200756) : 
                                caractérisation de l'activité des terrains de chasse de l'espèce et perspectives de conservation. C.R.E.N.A. – Groupe Chiroptères Aquitaine – S.F.E.P.M., Urt – Toulouse, 65p.</h4>
                            
                            </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Le_Moalt_2007_Rhineur_Saint Jean Pied de Port.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Le Moalt T., 2007. Le Rhinolophe euryale (Rhinolophus euryale) dans les montagnes de Saint-Jean-Pied-de-Port, site de Mikelauenzilo (PSIC : Montagnes de Saint-Jean-Pied-de-Port - FR7200754) : 
                                caractérisation de l'activité et des terrains de chasse de l'espèce et perspectives de conservation. C.R.E.N.A. - Groupe Chiroptères Aquitaine - S.F.E.P.M., Urt - Toulouse, 68p.</h4>
                            
                            </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Lugnon_2006_Myocap_Gardon et ses Gorges.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Lugon A., 2006. Analyse du régime alimentaire de Myotis capaccinii – Site FR9101395 Gardon et ses Gorges (Gard). L'Azuré, Cernier, 9p.</h4>
                            
                            </div>
                            </a>
                        </div>


                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Lugnon_2006_Myocap_Basse Gorges du Verdon.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Lugon A., 2006. Analyse du régime alimentaire de Myotis capaccinii – Site FR9101615 Basses Gorges du Verdon (Alpes de Haute Provence). L'Azuré, Cernier, 9p.</h4>
                            
                            </div>
                            </a>
                        </div>



                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Lugnon_2006_Minsch_Suze la Rousse.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Lugon A., 2006. Analyse du régime alimentaire de Miniopterus schreibersii – Site FR8201676 Sable du Tricastin, Suze-la-Rousse (Drôme). L'Azuré, Cernier, 8p.</h4>
                            
                            </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Nemoz_2007_Rhineur_Magnagues.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Némoz M., 2007. Etude de l'activité et des habitats de chasse des rhinolophes euryales (Rhinolophus euryale) 
                                de la colonie de Magnagues (Lot, France) en vue de leur conservation. S.F.E.P.M. - E.N.M.P./G.C.M.P., Toulouse, 51p.</h4>
                            
                            </div>
                            </a>
                        </div>

                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Peyrard Y. & Némoz M., 2007. Etude de l'activité et des habitats de chasse des murins de Capaccini (Myotis capaccinii) de la colonie des Gorges du Gardon (Gard, France) 
                                en vue de leur conservation. Syndicat Mixte des Gorges du Gardon - Groupe Chiroptères Languedoc-Roussillon - S.F.E.P.M., Sainte-Anastasie – Toulouse, 56p.</h4>
                            
                            </div>
                            </a>
                        </div>   
                        
                        <div class="media">
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs_life_chiro_2004-2008/Vincent_2007_Minsch_Suze la Rousse.pdf') }}">
                            <div class="media-left media-top">
                            <img class="media-object" src="{{url_for('static', filename='custom/images/cavernicoles.svg') }}" alt="cavernicoles">
                            </div>
                            <div class="media-body media-middle">
                            <h4 class="media-heading">Vincent S., 2007. Etude de l'activité et des terrains de chasse exploités par le Minioptère de Schreibers en vue de sa conservation. 
                                site Natura 2000 « Sables du Tricastin » FR8201676, Suze-la-Rousse (Drôme). C.O.R.A. Drôme - S.F.E.P.M., Romans-sur-Isère - Toulouse, 66p.</h4>
                            
                            </div>
                            </a>
                        </div>                        

                                        
                    </div>
                    </div>


   

</div>
            </div>

</div>
