<div class="panel-body">


        <div class="panel-group" id="accordion-carnivor">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-carnivor" href="#collapse0carni">Loutre</a></h3></div>
                    <div id="collapse0carni" class="panel-collapse collapse">
                    <div class="panel-body">
    

                            <div class="panel-group" id="accordion-carnivor-lutra0">
                                    <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-carnivor-lutra0" href="#collapselutra0">Bibliothèques</a></h3></div>
                                        <div id="collapselutra0" class="panel-collapse collapse">
                                        <div class="panel-body">


                                        <div class="media">
                                                <a target="_blank" rel="noopener noreferrer" href="https://www.sfepm.org/la-sfepm-et-le-pna-loutre.html">
                                                    <div class="media-left media-middle">
                                                        <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                                                    </div>
                                                    <div class="media-body media-middle">
                                                        <h4 class="media-heading">Page du Plan National en faveur de la Loutre d'Europe, sur le site internet de la SFEPM.</h4>
                                                    </div>
                                                </a>
                                        </div>

                                        <div class="media">
                                            <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/nos-documents/">
                                                <div class="media-left media-middle">
                                                    <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                                                </div>
                                                <div class="media-body media-middle">
                                                    <h4 class="media-heading">Centre de ressources du Groupe Mammalogique Breton.</h4>
                                                </div>
                                            </a>
                                        </div>
                            
                            </div>
                            </div>
                        </div>
                    </div>





                    <div class="panel-group" id="accordion-carnivor-lutra1">
                        <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-carnivor-lutra1" href="#collapselutra1">Méthodes et bonnes pratiques</a></h3></div>
                            <div id="collapselutra1" class="panel-collapse collapse">
                            <div class="panel-body">

                                    <!-- <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <h4 class="media-heading">
                                                        Suivi répartition
                                                </h4>
                                              </div>
                                            </div> -->
                                    

                                    <div class="media">
                                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Protocole_standard_prospection_PNALoutre.pdf') }}">
                                                <div class="media-left media-middle">
                                                    <img class="media-object" src="{{url_for('static', filename='custom/images/suivi.svg') }}" alt="suivi">
                                                </div>
                                                <div class="media-body media-middle">
                                                    <h4 class="media-heading">Groupe Loutre de la SFEPM, 2010. Méthode standard de suivi de l’aire de répartition de la Loutre d’Europe du PNA 2010 – 2015 en faveur de la Loutre d’Europe. 1p.</h4>
                                                    Protocole de prospection standard et de référence dans le cadre du PNA Loutre, pour le suivi de répartition de la Loutre d’Europe en France, basé sur le protocole standard UICN, avec une représentation des données à la maille 10X10 km du réseau Lambert 93.
                                                </div>
                                            </a>
                                    </div>

                                    <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="https://auvergne-rhone-alpes.lpo.fr/IMG/pdf/protocole_loutre_prospection.pdf">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/suivi.svg') }}" alt="suivi">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">CORA / LPO AuRA, 2009. Loutre Fiche n°1 : Protocole de prospection. 2p.</h4>
                                                Protocole de prospection pour le suivi de répartition de la Loutre d’Europe adapté du protocole standard UICN, et adapté aux prospections locales en Rhône – Alpes avec un raisonnement présence / absence sur des cours d’eau identifiés par un coordinateur départemental en lien avec un coordinateur régional.
                                            </div>
                                        </a>
                                    </div>

                                    <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2015/11/Protocole_Loutre_UICN_GMB_Fiches.pdf">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/suivi.svg') }}" alt="suivi">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">Groupe Mammalogique Breton, 2006. Protocole de suivi de la Loutre en Bretagne. 5p.</h4>
                                                Protocole de prospection et fiche de terrain pour le suivi de répartition de la Loutre d’Europe utilisés par le GMB en Bretagne, adapté du protocole standard UICN (également résumé dans cette fiche) et basé sur une analyse par bassins versants.
                                            </div>
                                        </a>
                                    </div>


                                    <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="http://centrederessources-loirenature.com/sites/default/files/ged/Protocole_Loutre_Bassin_Loire_2014.pdf">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/suivi.svg') }}" alt="suivi">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">RICHIER S., 2014. Protocole de synthèse de données de répartition de Loutre d’Europe. ONCFS délégation régionale Centre – Ile de France. 12p.</h4>
                                                Protocole de synthèse des données de répartition de la Loutre d’Europe recueillies sur le terrain, utilisé sur le bassin de la Loire par le réseau mammifères.
                                            </div>
                                        </a>
                                    </div>

                                    

                                    <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="https://auvergne-rhone-alpes.lpo.fr/IMG/pdf/protocole_loutre_recolte_materiel_genetique.pdf">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/adn.svg') }}" alt="adn">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">CORA / LPO RA, 2009. Loutre Fiche n°2 : Protocole de récolte de matériel génétique. 2p.</h4>
                                                Protocole de récolte et conservation du matériel génétique via des échantillons de poils et d’épreintes comme source d’ADN, afin d’identifier des individus, d’étudier les mouvements individuels et d’estimer des tailles de populations.
                                            </div>
                                        </a>
                                    </div>

                                    <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="http://sciencepress.mnhn.fr/sites/default/files/articles/pdf/naturae2018a6.pdf">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/adn.svg') }}" alt="adn">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">PIGNEUR L.-M., MICHAUX J. CAUBLOT G., FOURNIER P., MARC D., SIMONNET F., JACOB G., 2018. Apport de la génétique pour l’étude de la dynamique des populations de Loutre d’Europe Lutra lutra (Linnaeus, 1758) en France. Naturae (6) : 63-71. 11p.</h4>
                                                Synthèse mettant en évidence l’apport et les limites actuelles des analyses génétiques pour la compréhension de la biologie de la loutre (L. d’Europe, L. de rivière) à différentes échelles d’espace et de temps.
                                            </div>
                                        </a>
                                    </div>

                                    
                                    

                                    <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Protocole_Valorisation-cadavres_PNALoutre.pdf') }}">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/calepin.svg') }}" alt="calepin">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">FOURNIER P., 2013. Valorisation des spécimens de Loutre d’Europe découverts morts dans le cadre du plan national d’actions en faveur de la Loutre d’Europe 2010 – 2015 – Propositions de recueil d’informations et de prélèvements. 9p.</h4>
                                                Protocole de valorisation des cadavres de Loutre d’Europe et fiches correspondantes à compléter selon 3 niveaux d’informations à recueillir, comprenant des instructions pour la réalisation de prélèvement génétique.
                                            </div>
                                        </a>
                                    </div>

                                
                                    <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Prise_en_charge_loutre_detresse.pdf') }}">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/loutre.svg') }}" alt="loutre">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">JACQUES H., CAPBER F., KUHN R. & BARTHELEMY V, 2015.</h4>
                                                Prise en charge d’une loutre en détresse : conduite à tenir et soins vétérinaires. Plan National d’Actions en faveur de la Loutre d’Europe. 36p.
                                            </div>
                                        </a>
                                    </div>


                        
                            </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-group" id="accordion-carnivor-lutra2">
                        <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-carnivor-lutra2" href="#collapselutra2">Répartition et effectifs</a></h3></div>
                            <div id="collapselutra2" class="panel-collapse collapse">
                            <div class="panel-body">


                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://documents.irevues.inist.fr/bitstream/handle/2042/56925/RevuedEcologie_2015_70_4_293.pdf?sequence=1">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/loutre.svg') }}" alt="loutre">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">SAVOURE-SOUBLET A., WITTE I., FLAMME L., GRECH G., HAFFNER P., 2015. Détermination du potentiel d’accueil de la Loutre d’Europe (Lutra lutra) par secteur géographique en France métropolitaine. SNPN. Revue d’Ecologie (Terre et Vie), Vol 70 (4) : 293 – 313. 21p.</h4>
                                            Etude évaluant le potentiel d’accueil de la Loutre d’Europe en France, par zone géographique d’après des facteurs indispensables à l’espèce (disponibilité qualité du milieu aquatique et des zones humides, etc.).
                                        </div>
                                    </a>
                            </div>

                            
                
                            </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-group" id="accordion-carnivor-lutra3">
                        <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-carnivor-lutra3" href="#collapselutra3">Tendances et indicateurs</a></h3></div>
                            <div id="collapselutra3" class="panel-collapse collapse">
                            <div class="panel-body">

                                   
                             à venir
                                                
                            

                            
                
                            </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-group" id="accordion-carnivor-lutra4">
                        <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-carnivor-lutra4" href="#collapselutra4">Actions sur les menaces</a></h3></div>
                            <div id="collapselutra4" class="panel-collapse collapse">
                            <div class="panel-body">

                             

                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Guide_Loutre_Milieux.pdf') }}">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/arbre.svg') }}" alt="arbre">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    KUHN R., 2016 - Recommandations pour une gestion des milieux aquatiques favorable à la Loutre d’Europe. SFEPM, 16 p. 
                                             </h4>
                                             Document de recommandations à destination de l’ensemble des acteurs concernés par la présence de la Loutre, également à la portée du grand public
                                        </div>
                                    </a>
                            </div>

                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/10/Que_faire_chez_soi_pour_mam_aqua.pdf">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/arbre.svg') }}" alt="arbre">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    Groupe Mammalogique Breton, 2009. Que faire chez soi pour les mammifères semi-aquatiques ? 4p.
                                             </h4>
                                             1er volet de la plaquette donnant des conseils pour l’entretien de sa propriété rivulaire d’un cours d’eau en tenant compte de la présence des mammifères semi-aquatiques (dont la Loutre d’Europe).
                                        </div>
                                    </a>
                            </div>
 
                             
                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/10/Entretien_Rivieres.pdf">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/arbre.svg') }}" alt="arbre">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    Groupe Mammalogique Breton, 2009. Entretien de rivières et mammifères semi-aquatiques. 4p.
                                            </h4>
                                            Second volet de la plaquette donnant des conseils pour une gestion de berges qui tienne compte de la présence des mammifères semi-aquatiques (dont la Loutre d’Europe).
                                        </div>
                                    </a>
                            </div>


                            <div class="media">
                                    
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/arbre.svg') }}" alt="arbre">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    SIMONNET F., GREMILLET X., 2006. Fiches d’entretien et de gestion des habitats de la Loutre d’Europe - Préconisations du Groupe Mammalogique Breton.
                                            </h4>
                                            Fiches techniques à diffusion large, présentant les principales préconisations pour un entretien et une gestion des milieux naturels favorables par rapport aux exigences écologiques de la Loutre.
                                            <div class="list-group">
                                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/09/Loutre_bocage.pdf"><button type="button" class="list-group-item">Entretien du milieu bocager</button></a>
                                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/09/Loutre_gestion_forestiere.pdf"><button type="button" class="list-group-item">Gestion forestière</button></a>
                                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/09/Loutre_Zones_humides.pdf"><button type="button" class="list-group-item">Gestion des zones humides</button></a>
                                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/09/Loutre_Entretien_Rivieres.pdf"><button type="button" class="list-group-item">Entretien de cours d’eau</button></a>
                                            </div>
                                        </div>
                                    
                            </div>

                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/09/posterCatiches.jpg">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/arbre.svg') }}" alt="arbre">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    CAROFF C., GREMILLET X., SIMONNET F., 2009. Construire des catiches à loutres en Bretagne. Groupe Mammalogique Breton. 1p.
                                            </h4>
                                            Poster technique exposé au colloque francophone de mammalogie de 2009 sur pourquoi construire une catiche pour la Loutre, et comment, illustrée d’exemples concrets de réalisation en Bretagne.
                                        </div>
                                    </a>
                            </div>


                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/09/Chantier-catiches-Elorn.pdf">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/arbre.svg') }}" alt="arbre">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    Groupe mammalogique Breton, 2008. Chantier d’aménagement de 2 catiches artificielles sur l’Elorn. 2p.
                                            </h4>
                                            Fiche technique du retour d’expérience d’un chantier d’aménagement de catiches artificielles en Bretagne, avec description et photographie de chaque étape.
                                        </div>
                                    </a>
                            </div>


                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Loutres_et_activites_aquacoles.pdf') }}">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/pisciculture.svg') }}" alt="pisciculture">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                KUHN R. (2012). Loutres et activités aquacoles : Synthèse des connaissances sur la problématique à l’échelle internationale. Plan National d’Actions en faveur de la Loutre d’Europe. SFEPM. 33 p. + annexes.
                                            </h4>
                                            Document compilant les connaissances acquises sur la problématique (synthèse bibliographique complétée par des informations disponibles sur internet ou recueillies via des témoignages de collègues étrangers). Il a pour objectif d’informer les acteurs concernés de la situation et du travail réalisé à l’échelle internationale et pourra servir de base à la recherche de solutions pour la France. Les informations présentées dans ce document ne sont pas forcément adaptées et/ou adaptables au contexte français.
                                        </div>
                                    </a>
                            </div>


                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Plaquette_Loutre_Pisciculture.pdf') }}">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/pisciculture.svg') }}" alt="pisciculture">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    KUHN R., 2016. Loutre et pisciculture : Une cohabitation possible. Plan National d’Actions en faveur de la Loutre d’Europe. SFEPM. 2p.
                                            </h4>
                                            Plaquette de sensibilisation à destination du monde piscicole et aquacole, présentant rapidement l’espèce et les indices de sa présence, ainsi que les principales solutions de protection des exploitations contre la prédation.
                                        </div>
                                    </a>
                            </div>


                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="https://inpn.mnhn.fr/fichesEspece/EspecesEauDouce/120326_loutre_europe_fev2012_0.pdf">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/routes.svg') }}" alt="routes">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    SORDELLO R., 2012. Synthèse bibliographique sur les déplacements et les besoins de continuités d’espèces animales – La Loutre d’Europe. MNHN – SPN. 19p.
                                            </h4>
                                            Fiche proposant une synthèse bibliographique de la connaissance disponible concernant les déplacements et les besoins de continuités écologiques de la Loutre d’Europe. Cette fiche est particulièrement indiquée pour l’élaboration des Schémas régionaux de cohérence écologique (SRCE) et plus généralement dans la mise en œuvre de la Trame verte et bleue.
                                        </div>
                                    </a>
                            </div>


                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/09/Poster_eff_passages_loutre.pdf">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/routes.svg') }}" alt="routes">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    Groupe Mammalogique Breton, 2009. Efficacité des passages à loutres. 1p.
                                            </h4>
                                            Poster technique exposé au colloque francophone de mammalogie en 2009, revenant sur 20 ans d’expérience sur GMB en matière de passages à loutres (dysfonctionnements, préconisations)
                                        </div>
                                    </a>
                            </div>


                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2016/10/Passages_Loutres.pdf">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/routes.svg') }}" alt="routes">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    Groupe Mammalogique Breton, 2009. Aménager des passages à loutres. 4p.
                                            </h4>
                                            Plaquette technique présentant les différents modèles de passages à loutres sous les routes et quelques mesures annexes.
                                        </div>
                                    </a>
                            </div>


                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="http://www.trameverteetbleue.fr/sites/default/files/noted_information_no76.pdf">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/routes.svg') }}" alt="routes">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                    Service d’Etudes Techniques des Routes et Autoroutes (Sétra), 2006. Les mustélidés semi-aquatiques et les infrastructures routières et ferroviaires – Loutre et Vison d’Europe. Note d’information du Sétra. Economie Environnement Conception - 76. 14p.
                                            </h4>
                                            Note d’information ayant pour objectif d’apporter un éclairage et des précisions quant à la biologie, l’habitat préférentiel et le comportement de ces deux espèces de mustélidés, ainsi que de faire le point sur les menaces pesant sur elles. Ce document, illustré de quelques exemples de mesures, a également pour objectif de permettre à un aménageur ou à un décideur d’évaluer les mesures qu’il doit prendre afin de préserver au mieux ces espèces.
                                        </div>
                                    </a>
                            </div>


                            <div class="media">
                                    <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Recommandations_arrete-piegeage.pdf') }}">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{url_for('static', filename='custom/images/loutre.svg') }}" alt="loutre">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading">
                                                Lutte contre le piégeage accidentel
                                             </h4>
                                             SFEPM, 2016. Recommandations concernant la définition, par arrêté préfectoral, des secteurs de présence de la Loutre d’Europe, en vue de l’application de l’arrêté ministériel du 30 juin 2015 pris pour l’application de l’article R 427-6 du code de l’environnement et fixant la liste, les périodes et les modalités de destruction des espèces non indigènes d'animaux classées nuisibles sur l’ensemble du territoire métropolitain. Plan National d’Actions en faveur de la Loutre d’Europe. 2p.
                                        </div>
                                    </a>
                            </div>

                
                            </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-group" id="accordion-carnivor-lutra5">
                        <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="media-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-carnivor-lutra5" href="#collapselutra5">Sensibilisation</a></h3></div>
                            <div id="collapselutra5" class="panel-collapse collapse">
                            <div class="panel-body">

                                    <div class="media">
                                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('static', filename='docs/Plaquette_Havre_Paix.pdf') }}">
                                                <div class="media-left media-middle">
                                                    <img class="media-object" src="{{url_for('static', filename='custom/images/sensibilisation.svg') }}" alt="sensibilisation">
                                                </div>
                                                <div class="media-body media-middle">
                                                    <h4 class="media-heading">
                                                            Opération Havre de Paix – Agir chez soi pour la conservation de la Loutre. SFEPM. Plan National d’Actions en faveur de la Loutre d’Europe 2010-2015. 2p.
                                                     </h4>
                                                     Plaquette de présentation de l’Opération Havre de Paix pour la Loutre d’Europe, à destination du grand public.
                                                </div>
                                            </a>
                                    </div>
                                
                                    <div class="media">
                                            <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2015/11/Livret_Loutre1-300dpi.pdf">
                                                <div class="media-left media-middle">
                                                    <img class="media-object" src="{{url_for('static', filename='custom/images/sensibilisation.svg') }}" alt="sensibilisation">
                                                </div>
                                                <div class="media-body media-middle">
                                                    <h4 class="media-heading">
                                                            Groupe mammalogique Breton, 2011. Identifier les indices de présence de la Loutre d’Europe Lutra lutra – 1 – Epreintes et marquages. 16p.
                                                     </h4>
                                                     Livret de présentation des indices de présence de la Loutre, avec un focus sur le marquage par dépôt d’épreintes et comment les différencier des fèces d’autres espèces.
                                                </div>
                                            </a>
                                    </div>

                                
                                    <div class="media">
                                            <a target="_blank" rel="noopener noreferrer" href="http://gmb.bzh/wp-content/uploads/2015/11/Livret_Loutre2-96dpi.pdf">
                                                <div class="media-left media-middle">
                                                    <img class="media-object" src="{{url_for('static', filename='custom/images/sensibilisation.svg') }}" alt="sensibilisation">
                                                </div>
                                                <div class="media-body media-middle">
                                                    <h4 class="media-heading">
                                                            Groupe mammalogique Breton, 2011. Identifier les indices de présence de la Loutre d’Europe Lutra lutra – 2 – Empreintes et autres indices. 16p. 
                                                     </h4>
                                                     Livret de présentation des indices de présence de la Loutre, avec un focus sur la reconnaissance des empreintes de pattes et comment les différencier des autres empreintes d’animaux similaires.
                                                </div>
                                            </a>
                                    </div>

                                
                                
                                <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="http://educatif.eau-et-rivieres.asso.fr/pdf/loutre.pdf">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/sensibilisation.svg') }}" alt="sensibilisation">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">
                                                        Eaux et Rivières de Bretagne. La Loutre d’Europe. 5p.
                                                 </h4>
                                                 Fiche pédagogique donnant de nombreuses informations sur la Loutre d'Europe : classification, description, habitat, mœurs, régime alimentaire, statut et évolution de son aire de répartition en France au cours du 20ème siècle. Tout cela est développé et accompagné d'illustrations.
                                 
                                            </div>
                                        </a>
                                </div>

                                
                                
                                
                                <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="http://centrederessources-loirenature.com/sites/default/files/ged/totems_ONCFSLa%20loutre%20d%27Europe-Totem%20FEDER%20Loire.pdf">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/sensibilisation.svg') }}" alt="sensibilisation">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">
                                                        HUREL P., LEMARCHAND C., ROSOUX R. A la découverte des mammifères semi-aquatiques
                                                 </h4>
                                                 La Loutre d’Europe (Lutra lutra), une espèce parfaitement adaptée à la vie aquatique. ONCFS. 1p.
                                            </div>
                                        </a>
                                </div>

                                
                                
                                
                                <div class="media">
                                        <a target="_blank" rel="noopener noreferrer" href="http://www.nouvelle-aquitaine.developpement-durable.gouv.fr/qui-a-vu-lulu-la-boite-a-outils-pedagogique-sur-la-a691.html">
                                            <div class="media-left media-middle">
                                                <img class="media-object" src="{{url_for('static', filename='custom/images/sensibilisation.svg') }}" alt="sensibilisation">
                                            </div>
                                            <div class="media-body media-middle">
                                                <h4 class="media-heading">
                                                        RNN Tourbière de Dauges et étang des Landes, 2016. Qui a vu Lulu ? 
                                                 </h4>
                                                 La boîte à outils pédagogiques "Qui a vu Lulu ?" a été conçue par les Réserves naturelles de la tourbière des Dauges et de l’étang des Landes, avec la participation des associations Sources et Rivières du Limousin et le Groupe Mammalogique et Herpétologique du Limousin. Renseignements auprès de Murielle LENCROZ pour l'utilisation et l’emprunt de cet outil :  mlencroz@conservatoirelimousin.com, tél : 05 55 03 29 07
                                 
                                            </div>
                                        </a>
                                </div>


                            
                
                            </div>
                            </div>
                        </div>
                    </div>



                    </div>
                    </div>
                </div>
        </div>  
        <!--fin bloc loutre -->

        



</div>
