<div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_mam">Mammifères</a>
          </h2>
        </div>
        <div id="collapse_mam" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="media-heading">Statuts des espèces et protection</h3>
                </div>
              </div>

            <div class="media">
                <a href="https://uicn.fr/liste-rouge-mondiale/">
                <div class="media-left media-middle">
                      <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                </div>
                <div class="media-body media-middle" >
                  <h4 class="media-heading">Liste rouge mondiale des espèces menacées</h4>
                  </div>
                </a>
              </div>

            <div class="media">
                <a href="https://uicn.fr/liste-rouge-france/">
                <div class="media-left media-middle">
                      <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">Liste rouge française des espèces menacées</h4>
                </div>
              </a>
              </div>

            <div class="media">
                <a href="https://uicn.fr/listes-rouges-regionales/">
                <div class="media-left media-middle">
                      <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">Liste rouge régionales des espèces menacées</h4>
                 </div>
                </a>
              </div>

            <div class="media">
                <a href="https://inpn.mnhn.fr/programme/evaluation/espece/82715">
                <div class="media-left media-middle">
                      <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">Espèces de la directive Habitats-Faune-Flore</h4>
                  </div>
                </a>
              </div>
            <div class="media">
                <a href="https://www.coe.int/fr/web/conventions/full-list/-/conventions/treaty/104">
                <div class="media-left media-middle">
                      <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">Convention de Berne</h4>
                  </div>
                </a>
              </div>
            <div class="media">
                <a href="https://www.cms.int/fr/page/texte-de-la-convention">
                <div class="media-left media-middle">
                      <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">Convention de Bonn</h4>
                  </div>
                </a>
              </div>
            <div class="media">
                <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000649682">
                <div class="media-left media-middle">
                      <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">Arrêté du 23 avril 2007 fixant la liste des mammifères terrestres protégés 
                                            sur l'ensemble du territoire et les modalités de leur protection</h4>
                  </div>
                </a>
              </div>

            <div class="media">
                <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000024396902&dateTexte=20180628">
                <div class="media-left media-middle">
                      <img class="media-object" src="{{url_for('static', filename='custom/images/books.svg') }}" alt="books">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">Arrêté du 1er juillet 2011 fixant la liste des mammifères marins protégés
                     sur le territoire national et les modalités de leur protection</h4>
                  </div>
                </a>
              </div>

          </div>
        </div>
      </div>
