    <footer class="footer">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default stat-panel bg-white">
        <div class="row">
            <h1 class="text-muted">
                    Partenaires <br/>
            <h1>
            <div class="flex-container">
                <div class="flex-item">
                    <a href="https://www.mnhn.fr/"  target="_bank" title="MUSÉUM NATIONAL D’HISTOIRE NATURELLE">
                        <img src="{{url_for('static', filename='custom/images/logo_partenaires/MNHN-logo_small.jpg') }}" alt="Logo mnhm" class="img-responsive" />
                    </a>
                </div>
                <div class="flex-item">
                    <a href="https://www.ecologique-solidaire.gouv.fr/"  target="_bank" title="Ministère de la Transition écologique et solidaire">
                        <img src="{{url_for('static', filename='custom/images/logo_partenaires/partenaire-mtes.jpg') }}" alt="Logo Ministère de la Transition écologique et solidaire" class="img-responsive" />
                    </a>
                </div>
                <div class="flex-item">
                    <a href="http://www.bourgogne-franche-comte.developpement-durable.gouv.fr/"  target="_bank" title="DREAL Bourgogne-Franche-Comté">
                        <img src="{{url_for('static', filename='custom/images/logo_partenaires/partenaire-dreal.jpg') }}" alt="Logo DREAL Bourgogne Franche Comté" class="img-responsive" />
                    </a>
                </div>
                <div class="flex-item">
                    <a href="http://www.nouvelle-aquitaine.developpement-durable.gouv.fr/"  target="_bank" title="DREAL Nouvelle-Aquitaine">
                        <img src="{{url_for('static', filename='custom/images/logo_partenaires/partenaire-dreal-aquitaine.jpg') }}" alt="Logo DREAL Nouvelle-Aquitaine" class="img-responsive" />
                    </a>
                </div>
                <div class="flex-item">
                    <a href="http://www.reseau-cen.org/fr"  target="_bank" title="Conservatoires d'espaces naturels">
                        <img src="{{url_for('static', filename='custom/images/logo_partenaires/logo_cen.png') }}" alt="Logo Conservatoires d'espaces naturels" class="img-responsive" />
                    </a>
                </div>
                <div class="flex-item">
                        <a href="https://www.sfepm.org/planloutre.htm"  target="_bank" title="PNA Loutre">
                            <img src="{{url_for('static', filename='custom/images/logo_pna/logo_pna_loutre.png') }}" alt="Logo PNA Loutre"class="img-responsive" />
                        </a>
                </div>
            </div>
        </div>
        </div>
        </div>

        {% include 'static/custom/templates/footer_asso_slider.html' %}

        <p> <br/>
            <a href="{{url_for('main.index')}}">Accueil</a> | 
            <a href="https://www.sfepm.org/" target="_blank">Site de la {{configuration.STRUCTURE}}</a> | 
            <a data-toggle="modal" href="{{url_for('static', filename='custom/templates/credits.html') }}" data-target="#modalCredits">Conception et crédits</a> |  
            <a data-toggle="modal" href="{{url_for('static', filename='custom/templates/mentions-legales.html') }}" data-target="#modalMentions">Mentions légales</a> 
        <p>

        <div id="clear"> 
            <p class="text-muted">
                {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}, 2019
                <br/>
                Réalisé avec <a href="https://github.com/PnEcrins/GeoNature-atlas" target="_blank">GeoNature-atlas</a>, développé par le <a href="http://www.ecrins-parcnational.fr" target="_blank">Parc national des Ecrins</a>
            </p>
        </div>
    </footer>
    
    <div class="modal fade text-center" id="modalCredits">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
    
    <div class="modal fade text-center" id="modalMentions">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
    
    {% if configuration.ID_GOOGLE_ANALYTICS != "UA-xxxxxxx-xx" %}
    <!-- Script Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{configuration.ID_GOOGLE_ANALYTICS}}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    