<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 textIntroduction">
                 <h1>
                    Centre de ressources 
                </h1> 
                <p style="font-size:18px" class="text-justify">
                    Le centre de ressource propose une collection de document relatifs au travail protection de de conservation sur les mammifères en france.
                </p> 
                <p style="font-size:18px" class="text-justify">	
                    Il est découpé en rubrique pour chaque grand groupe de mammifères.
                </p>
                <!-- <p>
                    Cet atlas vous présente des observations réalisées dans le cadre de différents protocoles scientifiques. Il ne s'agit pas d'un inventaire exhaustif ni d'une répartition complète des espèces sur le territoire.
                </p> -->
                <img class=img-responsive src="{{url_for('static', filename='custom/images/SFEPM_couleur_horizontal.jpg') }}" alt="logo-sfepm" style="width: 50%"  />
                <!-- <p>
                    <a href="{{url_for('main.get_staticpages', page='presentation') }}" class="btn btn-default">En savoir plus</a>
                </p> -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="{{url_for('static', filename='custom/images/ecureuil_intro.JPG') }}" width="100%" alt="{{configuration.NOM_APPLICATION}}">
                
            </div>
        </div>
    </div>
</div>