<div class="col-sm-12">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 textIntroduction">
          <h1>
            Portail des petits mammifères
          </h1>
          <p style="font-size:18px" class="text-justify">
            Les « petits » mammifères ont toujours fait partie des actions prioritaires de la SFEPM. 
            Campagnol amphibie, Rat des moissons et Campagnol des champs sont ainsi quelques-unes 
            des espèces ayant fait l’objet de travaux historiques au sein de la SFEPM, et l’intérêt 
            pour ces espèces est toujours bien présent. Les « petits » mammifères représentent 
            environ le tiers des espèces de mammifères en France métropolitaine, certains suscitent 
            de nombreuses inquiétudes suite à la forte régression de leurs milieux tandis que 
            d’autres sont déjà considérés en danger. L’Atlas proposé ici répond au besoin de suivre 
            l’évolution et de mieux comprendre les populations de ces mammifères si discrets.
          </p>
          <!-- <p style="font-size:18px" class="text-justify">
            L’Observatoire National des Mammifères – Volet Chiroptères, porté par la SFEPM et, en son sein, par la Coordination Chiroptères Nationale, 
            est la concrétisation d’un projet de longue haleine souhaité par les différents acteurs du monde de la conservation des chauves-souris. 
          </p> 
          <p style="font-size:18px" class="text-justify">	
            D’abord inscrit dans le 2ème Plan National d’Actions en faveur des Chiroptères (2009-2013), puis repris dans le 3ème PNA (2016-2025), 
            l’Atlas national des Chiroptères proposé ici répond à l’objectif d’agrégation et de mise à disposition des données et informations 
            et autres ressources recueillies sur l’ensemble du territoire par les structures associatives.
          </p> -->
          <!-- <p>
            Cet atlas vous présente des observations réalisées dans le cadre de différents protocoles scientifiques. Il ne s'agit pas d'un inventaire exhaustif ni d'une répartition complète des espèces sur le territoire.
          </p> -->
          <!-- <img class=img-responsive src="{{url_for('static', filename='custom/images/SFEPM_couleur_horizontal.jpg') }}" alt="logo-sfepm" style="width: 50%" /> -->
          <!-- <p>
            <a href="{{url_for('main.get_staticpages', page='presentation') }}" class="btn btn-default">En savoir plus</a>
          </p> -->
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <img src="{{url_for('static', filename='custom/images/campagnol_intro_portail_petit_mams.jpg') }}" width="100%" alt="{{configuration.NOM_APPLICATION}}">
          
        </div>
      </div>
    </div>
  </div>
