			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 textIntroduction">
							 <h1>
								<!-- Atlas national des Chiroptères -->
							</h1> 
							<p style="font-size:18px" class="text-justify">
								L’Observatoire National des Mammifères porté par la SFEPM  
								est la concrétisation d’un projet de longue haleine souhaité par les différents acteurs du monde de la conservation des mammifères. 
							</p> 
							<p style="font-size:18px" class="text-justify">	
								Ce portail offre un accès aux travaux réalisés dans le cadre des différents Plan National d’Actions menés par la SFEPM et 
								d'un travail historique sur la connaissance des espèces.
								Il répond à l’objectif d’agrégation et de mise à disposition des données et informations 
								et autres ressources recueillies sur l’ensemble du territoire par les structures associatives.
							</p>
							<!-- <p>
								Cet atlas vous présente des observations réalisées dans le cadre de différents protocoles scientifiques. Il ne s'agit pas d'un inventaire exhaustif ni d'une répartition complète des espèces sur le territoire.
							</p> -->
							<p><img class=img-responsive src="{{url_for('static', filename='custom/images/SFEPM_couleur_horizontal.jpg') }}" alt="logo-sfepm"  /></p>
							<!-- <p>
								<a href="{{url_for('main.get_staticpages', page='presentation') }}" class="btn btn-default">En savoir plus</a>
							</p> -->
						</div>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<img src="{{url_for('static', filename='custom/images/accueil-intro.jpg') }}" width="100%" alt="{{configuration.NOM_APPLICATION}}">
							
						</div>
					</div>
				</div>
			</div>