<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Présentation de l'atlas | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		    <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />


        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />

        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
    
    <div class="container-fluid" id="page">
    

  
		<div class="container presentation">
      <div class="col-lg-12">

              <h1>Partenaires</h1>
              
                
                <div class="col-lg-12">
                  <span id="finances" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-12 text-center">
                        <h3 class="partenaires-heading"><i>Carte des partenaires de l'ONM</i></h3><br>
                                       
                            <img class="img-responsive" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_partenaires_asso/carte_partenaires.png') }}">

                      </div>
                  </div>
                </div>    

              
              <div class="col-lg-12" style="background:#fbf8f8; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <span id="cenpdl" style="position:absolute; top:-150px;"></span>
                <div class="row">
                    <div class="col-xs-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_partenaires_asso/logo_azimut230.png') }}" alt="Logo Azimut230">
                    </div>
                    <div class="col-xs-8">
                      <h3 class="partenaires-heading">Azimut 230</h3>
                      <p style="text-align: justify;">L’association Azimut230 a été créé par une bande de joyeux drilles qui passaient leurs 
                        nuits à faire du radio-tracking en forêt de Rambouillet, un azimut 230 de Paris. 
                        Les objectifs sont de proposer un cadre associatif pour tous les chiroptérologues 
                        nouveaux ou anciens qui souhaitent mener des actions coordonnées et partager leurs 
                        connaissances et leurs données, d’améliorer la connaissance des chiroptères et d’aider 
                        à la protection des chiroptères et de leur environnement.</p>

                      <p>Site web : <a href="https://azimut230.fr/" target="_bank">azimut230.fr</a></p>
                    </div>
                </div>
              </div>

              <div class="col-lg-12" style="background:#fbf8f8; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <span id="cenpdl" style="position:absolute; top:-150px;"></span>
                <div class="row">
                    <div class="col-xs-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_partenaires_asso/logo_csa.jpg') }}" alt="Logo Chauve-souris Auvergne">
                    </div>
                    <div class="col-xs-8">
                      <h3 class="partenaires-heading">Chauve-souris Auvergne</h3>
                      <p style="text-align: justify;">Chauve-Souris Auvergne est une association de type loi 1901 dont l’objectif est l’étude et 
                        la conservation des chiroptères en Auvergne. Les activités de l’association s’articulent 
                        autour de trois principaux volets que sont l’étude, la conservation et la sensibilisation. 
                        L’association organise tout au long de l’année de nombreux temps associatifs comme des comptages, 
                        des programmes de télémétrie… ainsi que diverses animations à destination des scolaires ou du grand public.</p>

                      <p>Site web : <a href="https://www.chauve-souris-auvergne.fr" target="_bank">chauve-souris-auvergne.fr</a></p>
                    </div>
                </div>
              </div>

              <div class="col-lg-12" style="background:#fbf8f8; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <span id="cenpdl" style="position:absolute; top:-150px;"></span>
                <div class="row">
                    <div class="col-xs-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_partenaires_asso/logo_fnehs.png') }}" alt="Logo France Nature Environnement Haute-Savoie">
                    </div>
                    <div class="col-xs-8">
                      <h3 class="partenaires-heading">France Nature Environnement Haute-Savoie</h3>
                      <p style="text-align: justify;">France Nature Environnement Haute-Savoie est une fédération départementale d’associations 
                        de protection de la nature et de l’environnement. Elle est la porte-parole d’un mouvement 
                        de plus de 45 associations qui comptent 21 000 adhérents et est au service de l’intérêt général.</p>

                      <p>Site web : <a href="https://www.fne-aura.org/haute-savoie/" target="_bank">fne-aura.org/haute-savoie</a></p>
                    </div>
                </div>
              </div>

              <div class="col-lg-12" style="background:#fbf8f8; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <span id="cenpdl" style="position:absolute; top:-150px;"></span>
                <div class="row">
                    <div class="col-xs-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_partenaires_asso/logo_GMA.png') }}" alt="Logo Groupe Mammalogique d’Auvergne">
                    </div>
                    <div class="col-xs-8">
                      <h3 class="partenaires-heading">Groupe Mammalogique d’Auvergne</h3>
                      <p style="text-align: justify;">
                        Les objectifs du groupe Mammalogique d’Auvergne sont la connaissance et la protection des 
                        mammifères sauvages d’Auvergne, par la mise en place d’études appropriées et par la mise 
                        en valeur des connaissances.
                        </p>

                      <p>Site web : <a href="http://mammiferes.org/" target="_bank">mammiferes.org</a></p>
                    </div>
                </div>
              </div>
              
              <div class="col-lg-12" style="background:#fbf8f8; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <span id="cenpdl" style="position:absolute; top:-150px;"></span>
                <div class="row">
                    <div class="col-xs-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_partenaires_asso/logo_gmb.png') }}" alt="Logo Groupe Mammalogique Breton">
                    </div>
                    <div class="col-xs-8">
                      <h3 class="partenaires-heading">Groupe Mammalogique Breton</h3>
                      <p style="text-align: justify;">
                        Le Groupe Mammalogique Breton (GMB), créé en 1988, est une association de protection 
              de la nature (loi 1901) qui œuvre sur les cinq départements de la Bretagne Historique. 
              Au sein de l’association, trois groupes thématiques (réseau Loutre, réseau chauves-souris et 
              réseau micromammifères) développent des projets spécifiques à ces espèces.
                        </p>

                      <p>Site web : <a href="http://gmb.bzh/" target="_bank">gmb.bzh</a></p>
                    </div>
                </div>
              </div>
              
              <div class="col-lg-12" style="background:#fbf8f8; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <span id="cenpdl" style="position:absolute; top:-150px;"></span>
                <div class="row">
                    <div class="col-xs-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_partenaires_asso/logo_gmhl_horizontal_small.png') }}" alt="Logo Groupe Mammalogique et Herpétologique du Limousin">
                    </div>
                    <div class="col-xs-8">
                      <h3 class="partenaires-heading">Groupe Mammalogique et Herpétologique du Limousin</h3>
                      <p style="text-align: justify;">
                        Le Groupe Mammalogique et Herpétologique du Limousin (GMHL) est une association loi 1901. 
              Depuis plus de 20 ans, elle développe ses actions autour de l’étude, la préservation et 
              la diffusion des connaissances sur les mammifères, reptiles et amphibiens du territoire. 
              Le GMHL s’appuie sur un réseau de bénévoles actifs et de partenaires pour déployer des 
              actions répondant à ses trois missions principales : étudier, protéger, informer.
                        </p>

                      <p>Site web : <a href="http://gmhl.asso.fr/" target="_bank">gmhl.asso.fr</a></p>
                    </div>
                </div>
              </div>
              
              <div class="col-lg-12" style="background:#fbf8f8; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <span id="cenpdl" style="position:absolute; top:-150px;"></span>
                <div class="row">
                    <div class="col-xs-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_partenaires_asso/logo_gmn.jpg') }}" alt="Logo Groupe Mammalogique Normand">
                    </div>
                    <div class="col-xs-8">
                      <h3 class="partenaires-heading">Groupe Mammalogique Normand</h3>
                      <p style="text-align: justify;">
                        Fondé en mars 1978, le Groupe Mammalogique Normand s'est fixé comme objectif de constituer 
              une structure à caractère scientifique et informel, susceptible de rassembler toutes les 
              personnes désireuses d'étudier les Mammifères sauvages et féraux et leurs écosystèmes, 
              de participer à la protection de certaines espèces et à la sauvegarde de leurs milieux 
              (Article 2 des statuts de l'association)
                        </p>

                      <p>Site web : <a href="http://gmn.asso.fr/" target="_bank">gmn.asso.fr</a></p>
                    </div>
                </div>
              </div>
              
              
              
              <div class="col-lg-12" style="background:#fbf8f8; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <span id="cenpdl" style="position:absolute; top:-150px;"></span>
                <div class="row">
                    <div class="col-xs-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_partenaires_asso/logo_pn_horizontal.png') }}" alt="Logo Picardie Nature">
                    </div>
                    <div class="col-xs-8">
                      <h3 class="partenaires-heading">Picardie Nature</h3>
                      <p style="text-align: justify;">
                        Picardie Nature est une association fédérative régionale de citoyens qui œuvrent à la connaissance de la biodiversité, 
              agissent en protégeant des espèces ou milieux menacés, interviennent pour le respect de la réglementation, 
              militent pour la prise en compte de l’environnement dans les projets d’aménagement et contribuent à l’éducation 
              et à la sensibilisation pour la protection de la nature et de l’environnement en Picardie.
                        </p>

                      <p>Site web : <a href="http://www.picardie-nature.org/" target="_bank">picardie-nature.org</a></p>
                    </div>
                </div>
              </div>
              
              
              
        

    </div>
  </div>
  
  
  {% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}
  
        <script type="text/javascript">
        var configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body>
</html>
