<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Présentation de l'atlas | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		    <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />
        
          <!-- Ajout pour paragraphes deroulants -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

          <script>
            $(document).ready(function(){
              $("deroule").click(function(){
                $("#deroulant").fadeToggle();
              });
            });
            </script>
          <!-- Fin ajouts pour paragraphes deroulants -->

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">


      <div class="container presentation">
        <div class="col-lg-8">
            <!-- Texte de présentation général -->

            <h2 id="general">Biodiv'Ecrins, l'atlas de la flore et de la faune du Parc national des Ecrins</h2>
            <button>Click to fade in/out boxes</button><br><br>
            <div id="deroulant" >
            <p class="lead">
              Le Parc national recueille des données faune et flore sur son territoire depuis plus de 40 ans. Celles-ci sont utilisées pour mieux connaître la biodiversité, suivre les évolutions de certaines espèces fragiles ou patrimoniales… Car agir intelligemment pour la sauvegarde de ce patrimoine naturel requiert de le connaître et le comprendre.
            </p>
            </div>
            <p class="lead">
              Biodiv'Ecrins met à votre disposition l'ensemble des données collectées par le Parc national des Écrins depuis sa création en 1973.
            </p>
            <p class="lead">
              Chaque jour, ses agents font des observations dans le cadre de leurs missions avec un véritable souci d'enrichissement des connaissances sur la biodiversité alpine. Elles sont affichées en temps réel sur cet atlas. Vous pouvez ainsi suivre l'état des connaissances sur ce territoire.
            </p>

            <div class="jumbotron">
              <h1>Hello, world!</h1>
              <p>bla bla bla...</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>

        </div>



    </div>

		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}

        <script type="text/javascript">
        var configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body>
</html>
