/* Insert your custom override CSS in this file */
 
.panel-title {
    font-size: 30px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float : right;
    color: grey;         /* adjust as needed */
    padding-right: 10px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}



@font-face {
	font-family: 'Dosis';
	src:url('../css/fonts/Dosis-Medium.otf');
}

.navbar-collapse {
    margin-top: 5px;
}

.navbar-default {
    background-color: #fff;
}

.corner-ribbon.red {
    background: #e43;
}
.corner-ribbon.top-right {
    top: 40px;
    right: -65px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.corner-ribbon.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.corner-ribbon.sticky {
    position: fixed;
}
.corner-ribbon {
    width: 300px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
	  padding-left:15px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 9999;
}

/*** slider slick page acceuil****/
.slidepartenaireindex{
  width: 280px;
}

.slick-prev::before, 
.slick-next::before {
    color: #1e1b0c;
  } 

/*** style navbar ****/
/*** couleur titre ****/
.navbar-default .navbar-brand {
    color: #c8b8ab;
}
/*** couleur titre hover ****/
.navbar-default .navbar-brand:hover {
    color: #fff;
}
/*** taille titre****/
.titreAppli {
    font-size: 26px;
    font-family: Dosis, Helvetica, sans-serif;
}
/*** couleur fond navbar ****/
.navbar-default {
    background-color: #425363;
}
/*** couleur fond navbar veticale ****/
#sideBar {
    background-color: #00948F;
}


/*** bouton  http://jsfiddle.net/23pmy0rt/ ****/
.switch-candy a {background-color: #ffba0c!important;}
.switch-toggle > label {
            outline-style: none!important;
              }
/*** bouton switch carto ****/

 h1 {
    margin-top: 5px;
    font-family: Dosis;
}

.btn-primary {
    background-color: #8d5534;
    border-color: #ba864a;
}

.btn-primary:hover {
    color: #fff;
    background-color: #b47634;
    border-color: #b47634;
}

.stat-thumbnail .chiro{
    min-height: 180px;
    max-height: 180px;
}

.vertical-center {

  
    align-items: center;
  }

  #mapnorm {
	height: 734px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
  }
  
  .flex-item {
    margin: auto;
    width: 10%;
  }