<ul id="sidebar_menu" class="sidebar-nav">
  <a href="{{url_for('main.index')}}" id="menu-toggle" data-toggle="tooltip" data-original-title="Retour à l'accueil" data-placement="right">
    <li class="sidebar-brand"><span id="main_icon" class="glyphicon glyphicon-home"></span></li>
  </a>
 

  <a href="{{url_for('main.get_staticpages', page='presentation') }}" data-toggle="tooltip"
    data-original-title="Présentation de l'observation national des mammifères" data-placement="right">
    <li class="sidebar-brand"><span class="glyphicon glyphicon-question-sign"></span></li>
    </li>
  </a>

  <a href="{{url_for('main.get_staticpages', page='ressources') }}" data-toggle="tooltip"
    data-original-title="Centre de ressources" data-placement="right">
    <li class="sidebar-brand"><span class="glyphicon glyphicon-book"></span></li>
    </li>
  </a>

  <a href="{{url_for('main.get_staticpages', page='partenaires') }}" data-toggle="tooltip"
    data-original-title="Partenaires" data-placement="right">
    <li class="sidebar-brand">
    <img class="picto-sidebar" 
    src="{{url_for('static', filename='custom/images/picto_partenaires_white_2.svg') }}"
    style="width: 40px;">
    </li>
  </a>

  <div class="sidebar-nav btn-group" >

    <li class="sidebar-brand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-th" data-toggle="tooltip" data-original-title="Portails thématiques" data-placement="right"></span>
    </li>
  
    <ul class="dropdown-menu">
      <a href="{{url_for('main.portail_chiro')}}">
        <li class="sidebar-brand">Chiroptères</li>
      </a>

      <a href="{{url_for('main.ficheEspece',cd_ref=60630)}}">
        <li class="sidebar-brand">Loutre</li>
      </a>

      <a href="{{url_for('main.portail_petitmams')}}">
        <li class="sidebar-brand">Petits Mammifères</li>
      </a>
    </ul>

  </div>

  {% if configuration.AFFICHAGE_PAGE_PHOTOS_NAVBAR %}
  <a href="{{url_for('main.photos')}}" data-toggle="tooltip" data-original-title="Galerie photos" data-placement="right">
    <li class="sidebar-brand"><span class="glyphicon glyphicon-camera"></span></li>
  </a>
  {% endif %}
</ul>
