<table class="table table-hover" id="myTable" style="display:none;"> <!-- Ne s'affiche que lorsque le JS est chargé -->
    <thead>
        <tr>
            <th data-priority="1">Groupe</th>
            <th data-priority="2">Nom Scientifique</th>
            <th data-priority="4">Nom Vernaculaire</th>
            <th id="sorted" data-priority="3"> Nombre d'observation(s)</th>
            <th data-priority="5">Dernière observation</th>
        </tr>
    </thead>
    <tbody>
        {% for taxon in listTaxons.taxons %}
            <tr class="taxonRow" insee="{{referenciel.insee}}" cdRef="{{taxon.cd_ref}}">
                <td>
                    <a href="{{url_for('main.ficheEspece',cd_ref=taxon.cd_ref)}}">
                        
                    {% if taxon.path == None %}
                        <img src="{{url_for('static', filename='images/picto_'+ taxon.group2_inpn| replace(" ", "_") |urlencode+'.png') }}" data-toggle="tooltip" data-original-title="Consulter la fiche espèce" data-placement="right">
                    {% else %}
                      {% if configuration.REDIMENSIONNEMENT_IMAGE %}
                        {% set img_path = configuration.TAXHUB_URL+'/api/tmedias/thumbnail/'+taxon.id_media|string+'?h=500&w=500' %}
                      {% else %}
                        {% set img_path = taxon.path %}
                      {% endif %}
                        <div class="pictoImgList lazy" data-src="{{img_path}}" data-toggle="tooltip" data-original-title="Consulter la fiche espèce" data-placement="right"></div>
                    {% endif %}
                    <span class="hiddenSpan">{{taxon.group2_inpn}}</span>
                    </a>
                </td>
                <td class="name">
                    {{taxon.nom_complet_html|safe}}
                </td>
                <td>
                    {% if taxon.nom_vern == None %}
                        -
                    {% else %}
                        {{taxon.nom_vern}}
                    {% endif %}
                </td>

                <td>{{taxon.nb_obs}}</td>
                <td>{{taxon.last_obs | int}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
