<!DOCTYPE html>
<html>
<head>
	
	<title>test</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet-wfst@2.0.1-beta.25/dist/leaflet-wfst.src.min.js"></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 800px;
			height: 500px;
		}
	</style>

</head>
<body>

<div id='map'></div>

<!-- <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" sandbox="allow-forms allow-scripts allow-same-origin" src="
https://www.geoportail.gouv.fr/embed/visu.html?c=-1.6873623464056098,47.095481666768364&z=12&l0=PROTECTEDAREAS.SIC:WMTS(1)&l1=GEOGRAPHICALGRIDSYSTEMS.MAPS::GEOPORTAIL:OGC:WMTS(0.3671875)&permalink=yes" 
allowfullscreen></iframe> -->

<script>
    var configuration = {{configuration|tojson}};
    var observationsPoint = [];
    var observationsMaille = [];
</script>

<script src="{{url_for('static', filename='test_carto.js') }}"></script>

</body>
</html>

